{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
    <div class="info-block">
        <h5>Фамилия: {{info["surname"]}}</h5>
        <h5>Имя: {{info["name"]}}</h5>
        <h5>Образование: {{info["education"]}}</h5>
        <h5>Профессия: {{info["profession"]}}</h5>
        <h5>Пол: {{info["sex"]}}</h5>
        <h5>Мотивация: {{info["motivation"]}}</h5>
        <h5>Готовы остаться на Марсе: {{info["ready"]}}</h5>
    </div>
{% endblock %}